@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sacrament Meeting Planner</h1>
    <img src="https://www.headwaterscc.com/wp-content/uploads/2015/12/Rexburg-Meetinghouse-13-1.jpg" alt="chapel" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
</div>
